
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #00b8d4;
  color: #fff;
}

header h1 {
  font-size: 18px;
  margin: 0;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.2s;
}

header nav a:hover {
  background-color: #0095c6;
}

header nav a.active {
  background-color: #006064;
}

header nav {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

header nav button:hover {
  background-color: #0095c6;
}
button {
  width: 23%;
  background-color: #e02541;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
img {
  width : 90px;
  height : 90px;
  cursor: pointer;
}
.container{
  margin-left: 50px;
  width: 8%;
  height: 5%;

}
.card-title{
  font-size: xx-small;
  border-style: none ;
}
.card{
  background: #00b8d4;
  height: 30%;
  border-style: none ;
}
.card-img-top{
  width: 30px;
  height: 30px ;
  margin: auto  ;
}


