<header>
  <img class="img-thumbnail" [src]="logoPath" alt="Logo Betby" routerLink="" >
  <div class="container" *ngIf="isConnected()">
    <div class="card">
      <div class="card-header">
        {{userName}}
      </div>
      <div class="card-body">
        <img class="card-img-top" [src]="coinPath" alt="Money" routerLink="profil">
        <div class="card-text">
          {{currencyMoney}}
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-info d-flex justify-content-between">
    <a class="navbar-brand" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
    <a class="navbar-brand" routerLink="classement" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Top14</a>
    <a class="navbar-brand" routerLink="allMatchs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tous les matchs</a>
    <a class="navbar-brand" *ngIf="!isConnected()" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Connexion</a>
    <a class="navbar-brand" *ngIf="!isConnected()" routerLink="register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">S'inscrire</a>
    <a class="navbar-brand" *ngIf="isConnected()" routerLink="profil" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Profil</a>
    <a class="navbar-brand" *ngIf="isConnected()" routerLink="mesparis" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mes paris</a>
    <button class="btn btn-danger" *ngIf="isConnected()" (click)="onClick()">Deconnexion</button>
  </nav>
</header>
