<div class="match">
  <h1 class="date">Date : {{match.startDate | date : 'dd/MM/yyyy HH:mm'}}</h1>
  <div class="nomteamwithlogo">
    <p class="nomlocaux"><strong>locaux : </strong>{{match.nameLocal}}</p>
    <img [src]="match.logoLocal" class="logo">
    <img [src]="match.logoVisitor" class="logo">
    <p class="nomvisitor"><strong>visiteurs : </strong>{{match.nameVisitor}}</p>
  </div>
  <div class="score" *ngIf="this.isStarted">
    <p class="scorelocal">{{match.homeScore}} - </p>
    <p class="scorevisitor">- {{match.visitorScore}}</p>
  </div>
  <div class="bet" *ngIf="userId !== -1 && !this.isStarted && match.drawOdd">
    <div class="buttontobet">
      <button class="buttonbet" [ngClass]="{buttonbet2 : this.lastbetclick === 'oddslocal'}" (click)="onClickChoiceBet('oddslocal')" >{{match.homeOdd}}</button>
      <button class="buttonbet" [ngClass]="{buttonbet2 : this.lastbetclick === 'oddsdraw'}" (click)="onClickChoiceBet('oddsdraw')">{{match.drawOdd}}</button>
      <button class="buttonbet" [ngClass]="{buttonbet2 : this.lastbetclick === 'oddsvisitor'}" (click)="onClickChoiceBet('oddsvisitor')">{{match.visitorOdd}}</button>
    </div>
    <input class="inputmoneybet" type="number" min="1" [id]="this.match.id" >
    <button class="buttonvalidbet" (click)="onClickbet()">Valider </button>
  </div>
</div>
<div class="overlay" *ngIf="doBet">
  <div class="popup">
    <h2>{{message}}</h2>
    <a class="close" (click)="doBet = false">&times;</a>
    <button id="popupbuttonclose" (click)="doBet = false">Retour</button>
    <button id="popupbuttonmybet" (click)=onPopUpBetClick()>Voir mes paris</button>
  </div>
</div>


