.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 40px;
  background-color: #F2F2F2;
  border: 10px solid #00A8E8;
  border-radius: 10px;
}

.nomteamwithlogo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
}

.score {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.buttonbet {
  background-color: #00A8E8;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 130px;
}

.buttonbet2 {
  background-color: #45a049;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 130px;
}

.inputmoneybet {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  width: 150px;
  margin-top: 10px;
}

.logo{
  height: 100px;
  width: 100px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
#popupbuttonclose {
  width: 100%;
  background-color: #a92424;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#popupbuttonmybet{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 700px){

  .popup{
    width: 70%;
  }
}


