<div class="alldropdown shadow rounded p-3 text-center">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      choix des matchs
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <button class="dropdown-item" (click)="onclickCompetition('Top 14')">Top 14</button>
      <button class="dropdown-item" (click)="onclickCompetition('Challenge Cup')">Challenge Cup</button>
    </ul>
    <div class="d-flex justify-content-center">
      <H1 class="shadow rounded-pill p-2">{{this.competition}}</H1>
    </div>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      choix des matchs
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
      <button class="dropdown-item" (click)="onclick('Matchs finis')">Matchs finis</button>
      <button class="dropdown-item" (click)="onclick('Matchs du jour')">Matchs du jour</button>
      <button class="dropdown-item" (click)="onclick('Matchs à venir')">Matchs à venir</button>
    </ul>
    <div class="d-flex justify-content-center">
      <H1 class="shadow rounded-pill p-2">{{this.choiceMatch}}</H1>
    </div>
  </div>
</div>
<div class="allmatch">
  <app-match *ngFor="let matchelement of matchs" [match]="matchelement"></app-match>
</div>
