
<form (submit)="loginUser($event)">
  <label for="username">Nom de compte:</label><br>
  <input type="text" id="username" name="username" placeholder="Entrer pseudo"><br>
  <label for="password">Mot de passe:</label><br>
  <input type="password" id="password" name="password" placeholder="Entrer mot de passe"><br><br>
  <button type="submit" >Connexion</button>
</form>
<div class="overlay" *ngIf="popUpSuccess">
  <div class="popup">
    <h2>Connection réussie</h2>
    <a class="close" (click)="popUpSuccess = false">&times;</a>
    <div class="content">
      Vous pouvez dès à présent voir votre profil ou continuer à naviguer sur le site.
    </div>
    <button (click)=onClickToConnect()>Voir Profil</button>
    <button (click)=onClickToLanding()>Accueil</button>
  </div>
</div>
<div class="overlay" *ngIf="popUpFailure">
  <div class="popup">
    <h2>Connection échoué</h2>
    <a class="close" (click)="popUpFailure = false">&times;</a>
    <div class="content">
      {{errorMessage}}
    </div>
    <button (click)=onClickToRetry()>Se connecter</button>
  </div>
</div>
