.card-img-top{
  width : 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
.card{
  width: 100%;
  margin-right: 10px;
  margin-top: 20px;
  border: 10px solid #00A8E8;
}
.cardWin{
  width: 100%;
  margin-right: 10px;
  margin-top: 20px;
  border: 10px solid #45a049;
  background : #B0F2B6;
}
.cardLose{
  width: 100%;
  margin-right: 10px;
  margin-top: 20px;
  border: 10px solid #a92424;
  background: #FB335B;
}



