<div class="container">
  <div class="card" [ngClass]="{'cardWin' : this.bet.isWon && this.bet.resultObtained,'cardLose' : !this.bet.isWon && this.bet.resultObtained}">
    <div class="card-header">
      <h4>{{date| date : 'dd/MM/yyyy HH:mm'}}</h4>
      <div class = "card-body">
        <img [src]="teamHomeLogoUrl" class="card-img-top" [alt]="teamHomeName">
        <img [src]="teamVisitorLogoUrl" class="card-img-top" [alt]="teamVisitorName">
        <h5 class="card-title"><strong>{{this.teamHomeName}}</strong> VS <strong>{{this.teamVisitorName}}</strong></h5>
        <h6 class="card-text">Pari du joueur : <strong>{{this.getTeamBet()}}</strong></h6>
        <h6 class="card-text">Montant misé : <strong>{{this.bet.betAmount}}</strong> Coins</h6>
        <h6 class="card-text">Cote : <strong>{{this.bet.odd}}</strong></h6>
        <h6 class="card-text">Gain potentiel : <strong>{{this.bet.potentialGain}}</strong></h6>
      </div>
    </div>
  </div>
</div>
