<div class="container">
  <div class="head-standing">
    <img id="imageTop14" [src]="this.logo" alt="Responsive image">
  </div>
  <div class="table">
    <table class="table table-bordered text-center">
      <thead>
      <tr class="table-dark">
        <th>Position</th>
        <th>Logo</th>
        <th>Nom d'équipe</th>
        <th>Points</th>
      </tr>
      </thead>
      <tbody id="bodycontainer">
      <tr *ngFor="let teamelement of teams" class="align-middle">
          <td class="display-4">{{this.teamelement.position}}</td>
          <td><img [src]="teamelement.logo" class="logo"></td>
          <td><a href="matchsByTeam/{{this.teamelement.id}}">{{this.teamelement.name}}</a></td>
          <td class="display-4">{{this.teamelement.point}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
