
.logo{
  height: 100px;
  width: 100px;
}

.container{
  padding: unset;
  border : solid 55px;
  border-color: #e9eee9;
  max-width: unset;
}
.head-standing{
  background: black;
}
.table{
  margin: unset;
}
#imageTop14{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#bodycontainer{
  background-color:#f9e4b7;
}
