<div class = "card">
  <div class = "card-body">
    <img [src]="backgroundUrl" class="card-img-top" [alt]="backgroundAlt">

    <h5 class="card-title">Qu'est ce que Betby ?</h5>
    <p class="card-text">Betby est un site te permettant de parier sur les matchs de Top14 et de ChallengeCup de façon fictive.
    Viens donc rejoindre la grande famille Betby dès maintenant !</p>
  </div>
</div>

