<div class="dropdown shadow rounded p-3 text-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Mes paris
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <button class="dropdown-item" (click)="onClickChoiceBet('En cours')">Paris en cours</button>
    <button class="dropdown-item" (click)="onClickChoiceBet('Terminés')">Paris terminé</button>
  </ul>
  <div class="d-flex justify-content-center">
    <H1 class="shadow rounded-pill w-25 p-2"> {{this.cpt}} Paris {{display}}</H1>
  </div>
</div>


<div class="container">
  <app-bet *ngFor="let betElement of betsToDisplay" [bet]="betElement"></app-bet>
</div>


