
<div class="container">
  <div class="card">
    <h3 class="card-title">Nom d'utilisateur : <strong>{{name}}</strong></h3>
    <div class="card-body">
      <p class="card-text">
        Nombre de pièces : <strong>{{money}}</strong>
      </p>
      <button class="card-footer, btn-danger" (click)="onClickToDelete()">Supprimer mon compte</button>
    </div>
  </div>
</div>
