.container{
  margin-top: 20px;
}
.card{
  border: 10px solid #00A8E8;

}
.card-title{
  text-align: center;
}
.card-body{
  text-align: center;
}
.btn-danger{
  background-color: #e02541;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
