<div class="team">
  <p class="position">{{this.team.position}}</p>
  <p class="name"><img [src]="team.logo" class="logo"><a href="matchsByTeam/{{this.team.id}}">{{this.team.name}}</a></p>
  <p class="numberofpoint">{{this.team.point}}</p>
</div>

