.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;

  .position,
  .name,
  .numberofpoint {
    display: block;
    margin-right: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}




