<form class="container-fluid" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="username">Nom de compte: </label>
  <input type="text" id="username" formControlName="username" placeholder="Entrer email">
  <br>
  <label for="password">Mot de passe: </label>
  <input type="password" id="password" formControlName="password" placeholder="Entrer mot de passe">
  <br>
  <label for="confirmPassword">Confirmer mot de passe: </label>
  <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmer mot de passe">

  <br>
  <button type="submit" [disabled]="!registerForm.valid">S'inscrire</button>
</form>
<div class="overlay" *ngIf="popUpSuccess">
    <div class="popup">
        <h2>L'inscription à bien été validé</h2>
        <a class="close" (click)="popUpSuccess = false">&times;</a>
        <div class="content">
        Vous pouvez dès à présent vous connecter à votre compte.
        </div>
        <button (click)=onClickToConnect()>Se connecter</button>
    </div>
</div>

<div class="overlay" *ngIf="popUpFailure">
  <div class="popup">
    <h2>L'inscription a échoué !</h2>
    <a class="close" (click)="popUpFailure = false">&times;</a>
    <div class="content">
      {{errorMessage}}.
    </div>
    <button (click)=onClickToRetry()>Recommencer l'inscription</button>
  </div>
</div>
